
body{
  margin-top: 200px;
  
}

/* style carrusel */
.carousel-control-prev,
.carousel-control-next {
  background-image: #000000;
  padding: 0;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
  background-color: rgb(0, 0, 0);
  color: white;
  filter:invert(100) drop-shadow(-1px 4px 5px rgb(115, 113, 113));   
  border-radius: 50%;
  padding: 20px;  
}
.carousel-indicators{
  top:350px;
}
.carousel .carousel-indicators [data-bs-target] {  
  width: 4px;
  height: 4px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 1.25rem;
}

.carousel{
 margin: 0 15vh;
}

.carousel .card{  
  width: 25rem;
  height: 20rem;  
  color: white;
  border-radius: 15px;
  background-size: cover;
}

#card_1{
background-image: url(./assets/unpack-samsung-s23-desk.jpeg);
}
#card_2{
background-image: url(./assets/card-l-home-c3-desk.webp);
}
#card_3{
background-image: url(./assets/home-xl-carrousel-300.jpeg);
}
#card_4{
background-image: url(./assets/duplica-tus-gigas-desktop-carrousel.jpeg);
}
.carousel .card-footer, .carousel .card-header{
  border: none;
}
.contenedor-carrusel{
  background: #eee;
  padding-top: 3rem;
  padding-bottom:5rem;
}
  @media  () {
    
  }
/* termina style carrusel */